In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import scipy

In [5]:
data = {'hours_of_calling_customers': [2, 3, 4, 5, 6, 1.5, 5, 7, 8, 10], 'money_earned':[50, 70, 90, 100, 110, 40, 110, 130, 145, 180]}
df = pd.DataFrame(data)
df

   hours_of_calling_customers  money_earned
0                         2.0            50
1                         3.0            70
2                         4.0            90
3                         5.0           100
4                         6.0           110
5                         1.5            40
6                         5.0           110
7                         7.0           130
8                         8.0           145
9                        10.0           180

In [24]:
X = df.drop('money_earned', axis= 1)
y = df['money_earned']

train_rmse_errors = []
test_rmse_errors= []

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler

polynomial_converter = PolynomialFeatures(degree=4, include_bias = False)
polynomial_features = polynomial_converter.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(polynomial_features, y, test_size = 0.3, random_state = 42)
X_train

array([[2.000e+00, 4.000e+00, 8.000e+00, 1.600e+01],
       [7.000e+00, 4.900e+01, 3.430e+02, 2.401e+03],
       [4.000e+00, 1.600e+01, 6.400e+01, 2.560e+02],
       [1.000e+01, 1.000e+02, 1.000e+03, 1.000e+04],
       [6.000e+00, 3.600e+01, 2.160e+02, 1.296e+03],
       [5.000e+00, 2.500e+01, 1.250e+02, 6.250e+02],
       [5.000e+00, 2.500e+01, 1.250e+02, 6.250e+02]])

In [26]:
scaler = StandardScaler()
scaler.fit(X_train)
scaled_X_train = scaler.transform(X_train)
scaled_X_test = scaler.transform(X_test)

scaled_X_train

array([[-1.53864364, -1.11419179, -0.8278501 , -0.65843227],
       [ 0.61545745,  0.43193338,  0.23588058,  0.06921232],
       [-0.6770032 , -0.70189174, -0.65003243, -0.58521018],
       [ 1.90791811,  2.18420857,  2.32206282,  2.38760696],
       [ 0.18463724, -0.014725  , -0.16738449, -0.26791442],
       [-0.24618298, -0.39266671, -0.45633819, -0.4726312 ],
       [-0.24618298, -0.39266671, -0.45633819, -0.4726312 ]])

In [22]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error

ridge_model = Ridge(alpha= 5)
ridge_model.fit(scaled_X_train, y_train)
test_predictions = ridge_model.predict(scaled_X_test)

MAE = mean_absolute_error(y_test, test_predictions)
RMSE = np.sqrt(mean_squared_error(y_test, test_predictions))


print(f"MAE: {MAE}")
print(f"RMSE: {RMSE}")

MAE: 18.128940077283385
RMSE: 21.131772185870684